@model App_consulta.Models.Pollster

@{
    ViewData["Title"] = "Panel de control";
    ViewData["Subtitle"] = "Encuestadores";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var permisoEditar = User.HasClaim(c => (c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/Encuestador.Editar" && c.Value == "1"));
    var permisoAdministrar = User.HasClaim(c => (c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/Encuestador.Administrar" && c.Value == "1"));
}

<div class="card w-50 mt-4 mx-auto">
    <div class="card-body">
        <h4 class="text-center text-uppercase">@Model.Name</h4>
        <hr />
        <div class="alert alert-success text-center" role="alert">
            Código usuario: <span class="text-lg font-weight-bold">@(Model.DNI.ToString() + Model.Code)</span>
        </div>
        <div class="form-group row">
            <label asp-for="IdResponsable" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                @if (Model.Responsable != null)
                {
                    <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.Responsable.Nombre)</p>
                }
            </div>
        </div>
        <hr />
        <div class="form-group row">
            <label asp-for="DNI" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.DNI)</p>
            </div>
        </div>


        <div class="form-group row">
            <label asp-for="PhoneNumber" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.PhoneNumber)</p>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Email" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.Email)</p>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="IdLocationParent" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                @if (Model.Location != null && Model.Location.LocationParent != null)
                {
                    <p class="form-control-plaintext font-weight-light">
                        @Html.DisplayFor(model => model.Location.LocationParent.Name)
                    </p>
                }
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="IdLocation" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                @if (Model.Location != null)
                {
                    <p class="form-control-plaintext font-weight-light">
                        @Html.DisplayFor(model => model.Location.Name)
                    </p>
                }
            </div>
        </div>

        <hr />
        <div class="form-group row">

            @if (permisoEditar)
            {
                <div class="col-sm-3 offset-3">
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary btn-block">Editar</a>
                </div>
                <div class="col-sm-3 ">
                    <a asp-action="Index" class="btn btn btn-outline-dark btn-block">Volver</a>
                </div>
            }
            else
            {
                <div class="col-sm-4 offset-4">
                    <a asp-action="Index" class="btn btn btn-outline-dark btn-block">Volver</a>
                </div>
            }
        </div>
    </div>
    @if (permisoAdministrar)
    {
<div class="card-footer">
    @if (Model.User != null)
    {
        <p class="font-weight-light mb-0 small">
            Registrado por: <b>@Model.User.Nombre @Model.User.Apellido</b>
        </p>
    }
    <p class="font-weight-light mb-0 small">
        Fecha creación: <i>@Model.CreationDate.ToString("f")</i>
    </p>
</div>
    }
</div>